
## Language Overrides

*.h gitlab-language=C linguist-language=C
*.c gitlab-language=C linguist-language=C

## Vendor Overrides

# NetBSD rbtree
compat/rbtree/rb.c linguist-vendored
include/nebase/compat/rbtree/* linguist-vendored

# Gnulib obstack
compat/obstack/obstack.c linguist-vendored
include/nebase/compat/obstack/* linguist-vendored

# Gnulib hash
compat/hashtable/hash.c linguist-vendored
compat/hashtable/bitrotate.h linguist-vendored
compat/hashtable/xalloc-oversized.h linguist-vendored
include/nebase/compat/hashtable/* linguist-vendored

